<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCM97qd0W5r5aGBKR72U7cKZcmsfITLbqo</string>
	<key>GCM_SENDER_ID</key>
	<string>162421907775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.fadigabriele.offroCibo</string>
	<key>PROJECT_ID</key>
	<string>offro-cibo-2046f</string>
	<key>STORAGE_BUCKET</key>
	<string>offro-cibo-2046f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162421907775:ios:2bde1f30d4c0fbb62b738a</string>
</dict>
</plist>